<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Gen5</key>
	<dict>
		<key>model</key>
		<string>Gen5</string>
		<key>price</key>
		<integer>40000</integer>
		<key>shipping_cost</key>
		<integer>35000</integer>
		<key>estimatedDelivery</key>
		<string>January 2036</string>
		<key>hardware</key>
		<dict>
			<key>cpu</key>
			<string>Quad-Core AI Processor</string>
			<key>ram</key>
			<string>16GB</string>
			<key>batteryLife</key>
			<string>12 hours</string>
		</dict>
		<key>features</key>
		<dict>
			<key>sensors</key>
			<array>
				<string>Camera</string>
			</array>
			<key>aiCapabilities</key>
			<string>Reinforcement Learning-based Control, End-to-End Neural Network, Human-level task performance</string>
			<key>mobility</key>
			<string>Bipedal Walking</string>
		</dict>
		<key>physical</key>
		<dict>
			<key>hand_dof</key>
			<string>11</string>
			<key>payload</key>
			<string>45 lb (20 kg)</string>
			<key>height</key>
			<string>5 ft 10 in (178 cm)</string>
			<key>weight</key>
			<string>57 kg</string>
			<key>dimensions</key>
			<string>1.6m x 0.6m x 0.6m</string>
			<key>material</key>
			<string>Aluminum Alloy</string>
		</dict>
		<key>warranty</key>
		<string>1 year (Earth Time)</string>
	</dict>
	<key>Gen6</key>
	<dict>
		<key>model</key>
		<string>Gen6</string>
		<key>price</key>
		<integer>60000</integer>
		<key>shipping_cost</key>
		<integer>39000</integer>
		<key>estimatedDelivery</key>
		<string>July 2034</string>
		<key>hardware</key>
		<dict>
			<key>cpu</key>
			<string>Quantum Co-Processor</string>
			<key>ram</key>
			<string>1T</string>
			<key>batteryLife</key>
			<string>18 hours</string>
		</dict>
		<key>features</key>
		<dict>
			<key>sensors</key>
			<array>
				<string>Camera</string>
				<string>Thermal</string>
			</array>
			<key>aiCapabilities</key>
			<string>Reinforcement Learning-based Control, End-to-End Neural Network, Beyond human-level performance</string>
		</dict>
		<key>physical</key>
		<dict>
			<key>hand_dof</key>
			<string>22</string>
			<key>payload</key>
			<string>60 lb (27 kg)</string>
			<key>height</key>
			<string>5 ft 8 in (173 cm)</string>
			<key>weight</key>
			<string>60 kg</string>
			<key>dimensions</key>
			<string>1.7m x 0.7m x 0.7m</string>
			<key>material</key>
			<string>Aluminum Alloy, Carbon Fiber</string>
		</dict>
		<key>warranty</key>
		<string>2 years (Earth Time)</string>
	</dict>
</dict>
</plist>
