<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Robo Charging Station</string>
		<key>price</key>
		<integer>5000</integer>
		<key>deliveryBenefit</key>
		<string>10 days faster</string>
		<key>speedUpDay</key>
		<integer>10</integer>
		<key>dividend</key>
		<string>0-1% dividend</string>
		<key>id</key>
		<string>charging_station</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Robo Bar</string>
		<key>price</key>
		<integer>9900</integer>
		<key>deliveryBenefit</key>
		<string>20 days faster</string>
		<key>speedUpDay</key>
		<integer>20</integer>
		<key>dividend</key>
		<string>0-1% dividend</string>
		<key>id</key>
		<string>bar</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Robo School</string>
		<key>price</key>
		<integer>19900</integer>
		<key>deliveryBenefit</key>
		<string>40 days faster</string>
		<key>speedUpDay</key>
		<integer>40</integer>
		<key>dividend</key>
		<string>0-1.12% dividend</string>
		<key>id</key>
		<string>robot_school</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Robo Park</string>
		<key>price</key>
		<integer>41200</integer>
		<key>deliveryBenefit</key>
		<string>3 month faster</string>
		<key>speedUpDay</key>
		<integer>93</integer>
		<key>dividend</key>
		<string>1.3% dividend</string>
		<key>id</key>
		<string>robot_park</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Robo Amphitheatre</string>
		<key>price</key>
		<integer>81900</integer>
		<key>deliveryBenefit</key>
		<string>6 month faster</string>
		<key>speedUpDay</key>
		<integer>189</integer>
		<key>dividend</key>
		<string>1.6% dividend</string>
		<key>id</key>
		<string>amphitheatre</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Mars Mining Development</string>
		<key>price</key>
		<integer>99500</integer>
		<key>deliveryBenefit</key>
		<string>12 months faster</string>
		<key>speedUpDay</key>
		<integer>365</integer>
		<key>dividend</key>
		<string>2.3% dividend</string>
		<key>id</key>
		<string>mars_mining</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Orbital Relay Station</string>
		<key>price</key>
		<integer>295000</integer>
		<key>deliveryBenefit</key>
		<string>36 months faster</string>
		<key>speedUpDay</key>
		<integer>1116</integer>
		<key>dividend</key>
		<string>2.9% dividend</string>
		<key>id</key>
		<string>orbital_relay</string>
	</dict>
</array>
</plist>
